{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-4">
            <div class="card-header bg-success text-white">
                <h3 class="card-title">Password Reset Email Sent</h3>
            </div>
            <div class="card-body">
                <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
                <div class="text-center mt-4">
                    <a href="{% url 'login' %}" class="btn btn-primary">Return to login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}